@model HoangGia.Web.ViewModels.SettingViewModel
<p><strong><i class="fa fa-map-marker"></i> @Model.CompanyAddress</strong></p>
<p>
    <strong><i class="fa fa-phone-square"></i> </strong>@Model.Tel<br>
    <strong><i class="fa fa-envelope"></i> </strong><a href="#">@Model.AdminEmailAddress</a><br>
    <strong><i class="fa fa-clock-o"></i> </strong> @Model.WorkingDay
</p>