@model HoangGia.Web.ViewModels.SettingViewModel
<div id="text-1" class="widget widget_text">
    <div class="textwidget">
        <div class="info-icon">
            <i class="icon-call-out icons"></i>
            <div class="content">
                Gọi ngay
                <br>
                <span>@Model.Tel</span>
            </div>
        </div>
    </div>
</div>
<div id="text-2" class="widget widget_text">
    <div class="textwidget">
        <div class="info-icon">
            <i class="icon-clock icons"></i>
            <div class="content">
                Giờ mở cửa
                <br>
                <span>@Model.WorkingDay</span>
            </div>
        </div>
    </div>
</div>