<div class="quick-form">
    <h3>Liên hệ</h3>
    <p>Bạn muốn thiết kế nội thất uy tín và chất lượng, vui lòng điền thông tin của bạn để được tư vấn miễn phí.</p>
    <div class="row">
        <div class="col-md-6">
            <p><input name="Name" id="Name" type="text" value="" placeholder="Họ tên" required="required"></p>
            <p><input id="Email" name="Email" type="email" value="" placeholder="Địa chỉ Email" required="required"></p>
            <p>
                <input type="submit" id="submit" class="submit" value="Gửi">
            </p>
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
            <p><input id="Title" name="Title" type="text" value="" placeholder="Tiêu đề" required="required"></p>
            <p><textarea name="Message" id="Message" placeholder="Nội dung" required="required"></textarea></p>

        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.quick-form -->
