@model IEnumerable<HoangGia.Web.ViewModels.SlideViewModel>
<!-- Slider 1400x456 -->
<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            @foreach (var slide in Model)
            {
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
                    <a href="@slide.Url">
                        <img src="@slide.Image" alt="slider-image" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>


