 <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="widget widget_text">
                <div class="textwidget">
                    <img src="/Resources/images/logo-ft-1.jpg" alt="image">
                </div>
            </div>
            <!-- /.widget_text -->
        </div>
        <!-- /.col-md-4 -->

        <div class="col-md-8">
            <div class="subscrbe-form">
                <label>Đăng ký theo dõi các bài viết của Hoàng Gia</label>
                <form class="sub-form">
                    <input type="text" class="subscrbe-field" placeholder="Nhập email của bạn...">
                    <input type="submit" class="subscrbe-submit">
                </form>
            </div>
            <!-- /.widget_search -->
        </div>
        <!-- /.col-md-8 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
