@{
    ViewBag.Title = "About";
}

<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">About</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li>You are here:</li>
                            <li><a href="/">Home</a></li>
                            <li>About</li>
                        </ul>
                    </div>
                </div><!-- /.page-title-captions -->

            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row about pad-top0px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-single">
                    <img src="/Resources/images/about/1.jpg" alt="image">
                </div>
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="about-right">
                    <h5>“Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.”</h5>
                    <p><img class="alignnone size-full" src="/Resources/images/about/sign.png" alt="image"></p>
                </div>
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-row our-story pad-top0px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="title">Our Story</h4>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-9">
                        <p class="content">John Doe is a modern designer, founder and director of HnK Architects. John Doe graduated from National University of Construction and Architecture and from Academic School of Design in UK. In 2003, intuitively understanding that future lies in design, he founded HnK.</p>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->

                <div class="flat-divider d50px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <h4 class="title style1">M. V &amp; V</h4>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-9">
                        <div class="contents">
                            <p class="content">HnK Architecture objective and legitimacy consist in promoting co-operation across the professional boundaries of the construction sector and architecture so that the players, working together, are able to contribute to the forward-looking development of architecture and construction specifically and society in general.</p>
                            <h4>Mission Statement</h4>
                            <p>At here, our mission is to become a leading architectural firm in creative design solutions that resolve our clients’ social, environmental &amp; economic needs.</p>
                            <h4>Vision Statement</h4>
                            <p>To be viewed as a respected architectural firm, providing high quality design and services to our clients with honesty and integrity.</p>
                            <h4>Values Statement</h4>
                            <p>The board of directors and staff are guided by these principles in carrying out their duties</p>
                        </div>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-row pad-top0px">
    <div class="container">
        <div class="row">
            <div class="flat-portfolio">
                <div class="portfolio-wrap">
                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/2.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/3.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/4.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/5.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/6.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/7.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/8.jpg" alt="images"></a>
                    </div>

                    <div class="item">
                        <a href="#"><img src="/Resources/images/about/9.jpg" alt="images"></a>
                    </div>
                </div><!-- /.portfolio-wrap -->
            </div><!-- /.flat-portfolio -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-row our-story pad-top0px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="title style2">Globally</h4>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-9">
                        <p class="content">Due to one man’s dream, there is now an office of world scale. We are moving into the worldwide market. Not just in Ukraine, but in Germany, Great Britain, USA, United Arab Emirates, Portugal, China and former USSR countries HnK’s designs are recognized.</p>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->

                <div class="flat-divider d50px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <h4 class="title style3">Partners</h4>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-9">
                        <p class="content"><img src="/Resources/images/about/pn.jpg" alt="images"></p>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->

                <div class="flat-divider d50px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <h4 class="title style4">Contact Us</h4>
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-9">
                        <div class="contents">
                            <p class="content"><strong>66 Nicholson Street Buffalo New York US 14214</strong></p>
                            <p><a href="#">support@linethemes.com</a><br>01-888-969-6868</p>
                            <p><strong>Coffee Bar:</strong> Monday-Friday 8am – 7pm. Saturday-Sunday 10am – 7pm<br><strong>Retail Store:</strong> Monday-Sunday 10am – 7pm</p>
                        </div>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-row flat-member pad-bottom20px">
    <div class="container">
        <div class="row">
            <div class="member">
                <div class="item">
                    <div class="member-content">
                        <img src="/Resources/images/member/m1.jpg" alt="images">
                        <div class="member-info">
                            <h3 class="member-name">Dan Gillmorl</h3>
                            <p class="member-subtitle">Architect</p>
                            <p class="member-desc">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500.</p>
                            <div class="social-links">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-title="Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-title="LinkedIn" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="member-content">
                        <img src="/Resources/images/member/m3.jpg" alt="images">
                        <div class="member-info">
                            <h3 class="member-name">Steven Fabre</h3>
                            <p class="member-subtitle">Architect</p>
                            <p class="member-desc">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500.</p>
                            <div class="social-links">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="member-content">
                        <img src="/Resources/images/member/m4.jpg" alt="images">
                        <div class="member-info">
                            <h3 class="member-name">Nathan John</h3>
                            <p class="member-subtitle">Architect</p>
                            <p class="member-desc">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500.</p>
                            <div class="social-links">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="member-content">
                        <img src="/Resources/images/member/m2.jpg" alt="images">
                        <div class="member-info">
                            <h3 class="member-name">Henry Cavil</h3>
                            <p class="member-subtitle">Architect</p>
                            <p class="member-desc">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500.</p>
                            <div class="social-links">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.member -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<div class="flat-divider d50px"></div>

<div class="content-bottom-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_text">
                    <div class="textwidget">
                        <img src="/Resources/images/logo-ft-1.jpg" alt="image">
                    </div>
                </div><!-- /.widget_text -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-8">
                <div class="subscrbe-form">
                    <label>Subscribe now to get daily updates</label>
                    <form class="sub-form">
                        <input type="text" class="subscrbe-field" placeholder="Your email address">
                        <input type="submit" class="subscrbe-submit">
                    </form>
                </div><!-- /.widget_search -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.content-bottom-widgets -->
