<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật thông tin trang web của bạn.</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Tên trang web</span>
                    <input id="Id" hidden />
                    <input type="text" class="form-control" id="Name" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Tiêu đề trang</span>
                    <input type="text" class="form-control" id="PageTitle" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Địa chỉ trang web</span>
                    <input type="text" class="form-control" id="Url" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Điện thoại</span>
                    <input type="text" class="form-control" id="Tel" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Ngày làm việc</span>
                    <input type="text" class="form-control" id="WorkingDay" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Địa chỉ công ty</span>
                    <input type="text" class="form-control" id="CompanyAddress" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Kinh độ</span>
                    <input type="text" class="form-control" id="Long" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Vĩ độ</span>
                    <input type="text" class="form-control" id="Lat" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Mail của bạn</span>
                    <input type="text" class="form-control" id="AdminEmailAddress" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Tên hiển thị Email</span>
                    <input type="text" class="form-control" id="NotificationReplyEmail" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Smtp Host</span>
                    <input type="text" class="form-control" id="Smtp" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Smtp Username</span>
                    <input type="text" class="form-control" id="SmtpUsername" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Smtp Password</span>
                    <input type="text" class="form-control" id="SmtpPassword" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Smtp Port</span>
                    <input type="text" class="form-control" id="SmtpPort" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="checkbox-addon">
                        <input type="checkbox" id="SmtpEnableSsl" required>
                    </span>
                    <label for="SmtpEnableSsl" class="pointer">Kích hoạt SmtpEnableSsl</label>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Mô tả tổng quan dịch vụ</span>
                    <textarea class="form-control" id="ServiceDescription" required></textarea>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Châm ngôn về dịch vụ</span>
                    <input type="text" class="form-control" id="ServiceScheme" required>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon">Tại sao chọn chúng tôi</span>
                    <input type="text" class="form-control" id="WhyChooseUsTitles" required>
                </div>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" id="saveWebInfo" class="btn btn-default">Lưu lại</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>